<footer>

    <div>

        <div class="impressum">
            <img src="../../assets/img/myLogoOnly.png">
            <div>
                <a (click)="openImprint()">Imprint</a>
                <div></div>
            </div>
        </div>

        <p> © Firat Yildirim 2023</p>

        <div class="sozial-media">
            <a href="https://github.com/FiratYildirim85" target="_blank"><img src="assets/img/Github button.png"></a>
            <a href="mailto:contact@firat-yildirim.de"><img src="assets/img/Email button.png"></a>
            <a href="https://www.linkedin.com/in/firat-yildirim-041bb825a" target="_blank"><img src="assets/img/Linkedin button.png"></a>
        </div>
    </div>

</footer>