<div class="about-me" id="about-me-section">
    <div>
        <h1>About me</h1>
        <p>Hi, I am a Front-end developer based in Hannover Germany. I have built several Web-apps and finished an
            expansive Coding School, to be a frontend-developer. I have found my passion in developing Web-apps and want
            to prove myself to the working world and create beautiful Software with you.</p>
        <div class="lightbulb">
            <img  src="assets/img/light-bulb.png">
            <p>I started my career with an apprenticeship as an industrial mechanic and then continued my education for a Bachelor Professional of Metal Production and Management, where I learned to take responsibility and be solution-oriented.</p>
        </div>
        <div class="lightbulb">
            <img src="assets/img/puzzle desktop.png">
            <p>I was trained by the Developer Akademie in Germany. In recent times I have gained a lot of experience in various projects. Starting with restaurant delivery pages written exclusively with HTML and CSS to games and business apps using JavaScrip and Angular. Feel free to visit my public portfolio, which includes responsive websites and business apps. For each project, I received feedback on my own code from experienced programmers from the academy. I was able to implement it well and gain more experience. I love to learn new skills and develop myself.
            </p>
        </div>
    </div>
    <div class="about-me-img">
        <div>
            <img src="assets/img/Bewerbungsfoto2.png">
            <img src="assets/img/Ellipse 1.png">
        </div>

        <img class="line7" src="assets/img/LINE 7.png">
    </div>
</div>