<div class="contact" id="contact-section">
    <div>
        <img src="assets/img/LINE 5.png">
        <h1>Contact</h1>
        <h3>Got a problem to solve?</h3>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
            projects with my work.<br><br>
            Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div class="contact-form">
        <app-contact-form></app-contact-form>
    </div>


    
    
</div>